<?xml version="1.0" encoding="utf-8" ?>
<configuration>   
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {   
                loglevel = OFF
                loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]

            actor {              
              debug {
                  receive = on
                  autoreceive = on
                  lifecycle = on
                  event-stream = on
                  unhandled = on
              }
              
              deployment{
                 /commander/coordinator{
                  router = broadcast-pool
                  nr-of-instances = 3
                 }                  
               }              
            }            
          }
      ]]>
    </hocon>
  </akka>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>